.carousel {
  display: flex;
  align-items: center;
}

.carousel_content {
  display: flex;
  overflow-x: scroll;
}

.carousel_img {
  margin-right: 64px;
}

.carousel-img:last-child {
  margin-right: 0;
}

.arrow_left {
  left: -25px;
}

.arrow_right {
  right: -25px;
}

.arrow_left,
.arrow_right
{
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 15px;
  height: 34px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  /* transform: translate(0, -50%); */
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.card-section {
  outline: none;
}