.carousel {
  display: flex;
  align-items: center;
}

.carousel_content {
  display: flex;
  overflow-x: scroll;
}

.carousel_img {
  margin-right: 64px;
}

.carousel-img:last-child {
  margin-right: 0;
}

.arrow_left {
  margin-right: 60px;
}

.arrow_right {
  margin-left: 60px;
}
