.firstSlide {
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
}

.logo {
  position: absolute;
  left: 0;
  top: 22px;

	color: #FFFFFF;
}

.quote-section {
  position: absolute;
  top: 40%;
  left: 60px;

  color: #FFFFFF;
  font-family: 'Open Sans';
  font-size: 40px;
  width: 508px;
  text-align: left;
}

.right-quotes {
  text-align: right;
}

.quotes {
  margin: 32px 0;
}

.search {
  position: absolute;
  right: 60px;
  top: 60px;

  height: 32px;
  width: 262px;
  border: 1px solid #FFFFFF;
  border-radius: 17.5px;
  background: transparent;
  color:#FFFFFF;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.player {
  outline: none;
}